$syrf-guide-blue-100: #698dff;
$syrf-guide-blue-200: #3666ff;

$body-background-color: $white !default;
$sidebar-color: $grey-lt-000 !default;
$search-background-color: $white !default;
$table-background-color: $white !default;
$code-background-color: $grey-lt-000 !default;
$feedback-color: darken($sidebar-color, 3%) !default;

$body-text-color: $grey-dk-100 !default;
$body-heading-color: $grey-dk-300 !default;
$search-result-preview-color: $grey-dk-000 !default;
$nav-child-link-color: $grey-dk-100 !default;
$link-color: $syrf-guide-blue-100 !default;
$btn-primary-color: black !default;
$base-button-color: #f7f7f7 !default;
.btn-primary {
	@include btn-color($white, $syrf-guide-blue-200);
}

.btn-purple {
	@include btn-color($white, $purple-100);
}

.btn-blue {
	@include btn-color($white, $blue-000);
}

.btn-green {
	@include btn-color($white, $green-100);
}
.site-title {
	content: "";
	height: 113px;
	margin-top: 40px;
	/* margin-right: 70px; */
	padding: 25px;
	padding-bottom: 10px;
	background-image: url(../../figs/syrf_userguide_logo.png);
	background-origin: content-box;
	background-repeat: no-repeat;
	background-size: contain;
	text-indent: -1000em;
}

.signin-upgrade img,
.side-by-side {
	margin: 30px;
	max-width: 400px;
}
.site-title:hover {
}

//
// Base element style overrides
//
// stylelint-disable selector-no-type, selector-max-type

* {
	box-sizing: border-box;
}

::selection {
	color: $white;
	background: $syrf-guide-blue-100;
}

html {
	@include fs-4;
	scroll-behavior: smooth;
}

body {
	font-family: $body-font-family;
	font-size: inherit;
	line-height: $body-line-height;
	color: $body-text-color;
	background-color: $body-background-color;
}

ol,
ul,
dl,
pre,
address,
blockquote,
table,
div,
hr,
form,
fieldset,
noscript .table-wrapper {
	margin-top: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: $body-heading-color;
}

p {
	margin-top: 1em;
	margin-bottom: 1em;
}

a {
	color: $syrf-guide-blue-100;
}

a:not([class]) {
	text-decoration: none;
	background-image: linear-gradient($border-color 0%, $border-color 100%);
	background-repeat: repeat-x;
	background-position: 0 100%;
	background-size: 1px 1px;

	&:hover {
		background-image: linear-gradient(rgba($link-color, 0.45) 0%, rgba($link-color, 0.45) 100%);
		background-size: 1px 1px;
	}
}

code {
	font-family: $mono-font-family;
	font-size: 0.75em;
	line-height: $body-line-height;
}

figure,
pre {
	margin: 0;
}

li {
	margin: 0.25em 0;
}

img {
	max-width: 100%;
	height: auto;
}

hr {
	height: 1px;
	padding: 0;
	margin: $sp-6 0;
	background-color: $border-color;
	border: 0;
}
